﻿<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="lib/signalr.min.js"></script>
    <script type="text/javascript" src="lib/moment.min.js"></script>
    <script src="lib/jquery.csv.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="table.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Iteration plan</title>
</head>
<body>
<div id="app">
    <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <a style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776; Tasks</a>

        <section id="tasksList">
            <table cellspacing='0' class="scroll" v-if="tasksAreUnderEdit == false" style="height: 90%; width: 500px"> <!-- cellspacing='0' is important for style, must stay -->
                <thead>
                <tr>
                    <th>Task</th>
                    <th style="width:100%">
                        <span style="float:right; margin-right: 27px">Status</span>
                    </th>
                </tr>
                </thead>

                <tbody style="height: 90%; overflow-y: hidden">
                <tr>
                    <td ondrop="drop(event)" ondragover="allowDrop(event)" v-bind:id="createTaskSourceBoxId('DAYOFF')" class="dayoff" colspan="2">
                        <ul>
                            <li v-bind:id="createTaskInSourceBoxId('DAYOFF')" draggable="true" ondragstart="drag(event)" class="dayoff" style="text-align: left">
                                DAY OFF
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr v-for="task in iteration.tasks">
                    <td ondrop="drop(event)" ondragover="allowDrop(event)" v-bind:id="createTaskSourceBoxId(task.id)" style="width: 800px">
                        <ul>
                            <li v-bind:id="createTaskInSourceBoxId(task.id)" draggable="true" ondragstart="drag(event)" v-bind:class="task.status">
                                {{prettyPrintTask(task, 200)}}
                            </li>
                        </ul>
                    </td>
                    <td style="padding:7px">
                        <select v-model="task.status" >
                            <option>new</option>
                            <option>finished</option>
                            <option>endangered</option>
                            <option>safe</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <table cellspacing='0' v-if="tasksAreUnderEdit"> <!-- cellspacing='0' is important for style, must stay -->

                <thead>
                <tr>
                    <th>Tasks as csv (id;title;points;status)</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                <textarea v-model="tasksUnderEdit" style="min-width: 482px; min-height: 400px" wrap="off"
                          placeholder="Add tasks as csv, one line per task in format: id;title;points;status (status may be: new, safe, finished, endangered). Example line:&#10;2058;Fix welcome screen bug;13;finished"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>

    <section style="margin-left: 30px; margin-bottom: 35px">
        <select id="iterationList" style="float:left; margin-right: 4px; height: 21px">
            <option disabled value="">Choose iteration</option>
            <option v-bind:value="iteration.id">{{ iteration.id }}</option>
        </select>
        
        <button v-if="datesAreUnderEdit == false" v-on:click="beginIterationEdition" style="cursor:pointer; float:left">
            &#128295; Edit iteration
        </button>
        
        <form v-if="datesAreUnderEdit" action="#" onsubmit="app.finishIterationEdition()" style="float:left">
            <button type="button" v-on:click="cancelIterationEdition">Cancel</button>
            <button type="submit">Finish edition</button>
        </form>

<!--   Under manage iterations button:     <button type="button"> &#128465; Remove this iteration</button>-->
        <small class="on-small-device" style="float:left; margin-left: 35px; color: #cccccc">
            <i> TIP - scroll horizontally with shift key </i>
        </small>
    </section>
    
    <table cellspacing='0' class="auto-scrool-table" id="iterationTable"> <!-- cellspacing='0' is important for style, must stay -->

        <thead>
        <tr>
            <th>
                <span v-if="datesAreUnderEdit == false">
                    Date
                </span>
                <div v-if="datesAreUnderEdit">
                    <form action="#" onsubmit="app.finishIterationEdition()">
                        <div>
                            Planning date: <input type="date" v-model="planningDateUnderEdit" required>
                        </div>
                        <div style="margin-top:7px;margin-bottom:7px">
                            Next planning date: <input type="date" v-model="nextPlanningDateUnderEdit" required>
                        </div>
                    </form>
                </div>
            </th>

            <th v-for="user in iteration.users">
                {{ user.name }}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="date in iterationDays">
            <td>
                {{prettyPrintDate(date)}}
            </td>

            <td v-for="user in iteration.users" ondrop='drop(event)' ondragover='allowDrop(event)' v-bind:id="createMandayId(date,user.id)" v-bind:class="mandayContainsDayOff(date,user.id) ? 'dayoff' : 'neutral'">
                <ul>
                    <li v-for="task in getTasksFromManday(date, user.id)" draggable="true" ondragstart="drag(event)"
                        v-bind:id="createTaskInIterationTableId(createMandayId(date,user.id), task.id)" v-bind:class="(task.id === 'DAYOFF') ? 'dayoff' : task.status">
                        {{prettyPrintTask(task, 30)}}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>